body {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-size: 0.8em;
	padding: 0px;
	margin: 0px;
	background-image: url(background.jpg);
}


div.content {
	margin: 10px;
	padding: 10px;
	background-color: white;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	box-shadow: 0 8px 6px -6px black;
}

a {
	color: white;
	font-style: none;
	text-decoration: none;
	font-weight: bold;
}

table.tablesorter {
	font-family: "Verdana", Arial;
	font-size: 12px;
	text-align: left;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.tablesorter .header {
	background-color: #1A63B3;
	color: white;
	padding: 3px 5px;
	text-align: center;
	font-weight: bold;
}

table.tablesorter thead tr th.header {
	cursor: pointer;
}

table.tablesorter .filter_toggle {
	padding: 0px;
	margin: 0px;
	background-color: white;
	font-size: 6px;
	cursor: pointer;
}

table.tablesorter tbody .header {
	border-bottom: 1px solid white;
}

/* Select the filter cells */
table.tablesorter thead tr:nth-child(3) td.header {
	white-space: nowrap;
}
table.tablesorter thead tr:nth-child(3) {
	display: none;
}

table.tablesorter thead tr .header,
table.tablesorter tbody tr td {
	border-right: 1px solid white;
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(down.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 14px;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(up.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 14px;
}

table.tablesorter tbody tr td {
	padding: 3px 5px;
	white-space: pre;
}

table.tablesorter tbody tr:nth-child(odd) {
	background-color: #CDD4E6;
}
table.tablesorter tbody tr:nth-child(even) {
	background-color: #EAEAEA;
}

table.tablesorter tbody tr.group {
	border: 1px solid #888888;
}

table.tablesorter tbody td.modified {
	color: red;
}

table.tablesorter tbody tr.selected td {
	background-color: #444444;
	color: #cccccc;
}

table.tablesorter tbody tr.hidden td {
	background-color: #dddddd;
	color: #bbbbbb;
}

#id_comparison_table tbody tr td {
	text-align: center;
}

table.tablesorter tbody tr td.strength {
	background-color: #8cc63f;
}

table.tablesorter tbody tr td.weakness {
	background-color: #ff0000;
	color: white;
}

/* Selection of a cell */

table.tablesorter tbody tr td:hover {
	background-color: #6AA3D3;
}

table.tablesorter tbody tr.selected td:hover {
	background-color: #000044;
}

/* Trustability index */
table.tablesorter tbody td.trustabilty_1 {
	background-image: url(corner_green.png);
	background-repeat: no-repeat;
	background-position: right top;
}
table.tablesorter tbody td.trustabilty_4,
table.tablesorter tbody td.trustabilty_3,
table.tablesorter tbody td.trustabilty_2 {
	background-image: url(corner_yellow.png);
	background-repeat: no-repeat;
	background-position: right top;
}

table.tablesorter tbody td.comment:after {
  content: "*";
}

/* Information footer */
#id_information,
#id_information > div {
	white-space: nowrap;
	display: inline;
	font-size: 12px;
}

/* Tabs */
.ui-tabs-hide {
	display: none;
}
#tabs ul {
	overflow: hidden;
	border-bottom: 5px solid #fff;
	margin-bottom: -10px;
	box-shadow: 0 8px 6px -6px black;
}
#tabs li {
	float: left;
	padding: 5px 25px 5px 25px;
	margin-right: 5px;
	display: block;
	background-color: rgba(141, 141, 141, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-left: 1px solid #888;
	border-top: 1px solid #888;
	border-right: 1px solid #888;
}
#tabs li:hover {
	background-color: #1A63B3;
}
#tabs li.ui-tabs-active {
	background-color: rgba(61, 61, 61, 0.8);
}
#tabs li a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

/* Groups */
div.group {
	display: block;
	white-space: nowrap;
}

div.group div {
	display: inline;
	white-space: nowrap;
}

/* Pack style */
div.pack {
	display: inline;
	cursor: pointer;
	margin: 5px;
	color: #666;
	background-color: #aaa;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 1px 5px;
}

div.pack.enable {
	color: #fff;
	background-color: #1A63B3;
	border: 1px solid #fff;
	box-shadow: 0px 6px 6px -6px black;
}

td.similarity {
	background-color: #FAF6DC;
}

/* Edit mode */
table.edit,
table.edit tr,
table.edit tr td {
	border: 0px solid white;
	padding: 0px;
	margin: 0px;
}

input.edit {
	width: 64px;
	text-align: right;
}

table.edit tbody tr td {
	border-right: 0px solid red;
}

div.edit textarea.comment {
	width: 150px;
	height: 30px;
}

/* Loading */
div.loading {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	background-color: rgba(255, 255, 255, 0.4);
	width: 100%;
	height: 100%;
	background-image: url(loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

/* Disable */
.disabled {
	background-color: #ccc;
}

/* Tooltip */
div.tooltip {
	background: rgb(32, 32, 32); /* The Fallback */
	background: rgba(32, 32, 32, 0.8);
	color: white;
	max-width: 300px;
	margin: 5px;
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 1px 5px;
}

/* CSS datepicker */

.ui-datepicker {
	background-color: #999;
	border: 1px solid #fff;
}

/* CSS slider */

.ui-slider {
	background-color: white;
	border: 1px solid #000;
	border-radius: 5px;
}

.ui-slider-handle {
	background-color: #ccc;
	border: 1px solid #000;
	border-radius: 5px;
}

/* CSS dialog box */
.ui-dialog { position: absolute; top: 0; left: 0; padding: .2em; width: 300px; overflow: hidden; background-color: white; box-shadow: -8px 8px 6px -6px black; border: 1px solid #999;}
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative; background-image: url(background.jpg); height: 16px; }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; color: white; font-weight: bold;}
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: 0 0 0 0; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
